#retailer-map-title	{
	color: #c93;
	font-size: 12pt;
}

#retailer-map-container	{
	height: 600px;
}

#retailer-map-sidebar	{
	height: 600px;
}

#retailer-search	{
	overflow: hidden;
}

#retailer-form input	{
	float: left;
}

.retailer	{
	font-size: 8pt;
	border-bottom: solid 1px;
	margin-bottom: 10px;
}

.retailer .retailerName	{
	cursor: pointer;
	cursor: hand;
	font-size: 12pt;
	color: #a1a1a1;
	margin: 0;
}
